apiVersion: v1
kind: Service
metadata:
    name: {{ template "name" . }}
    labels:
        app: {{ template "name" . }}
        chart: {{ .Chart.Name }}- {{ .Chart.Version }}
        release: {{ .Release.Name }}
        heritage: {{ .Release.Service }}
spec:
    type: {{ .Values.service.type }}
    ports:
        - port: {{ .Values.service.internalPort }}
          nodePort: {{ .Values.service.externalPort }}
          protocol: TCP
          name: {{ .Values.service.name }}
    selector:
        app: {{ template "name" . }}
        release: {{ .Release.Name }}